*{
    padding: 0;
    margin: 0;
    width: auto;
}



body
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}


/*ici je ferai le code de la presentation de ma page d'accueil*/
.articles{
    margin-top: 30px;
}
.articles .article{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.articles .article .left img{
    height: 300Px;
    width: 500Px;
    border-radius: 1000px;
    transform: rotate(-5deg);
}

.articles .article .right{
    max-width: 50%;
    margin-left: 40px;
}

.articles .article .right p.date{
    color: gray ;
}
.articles .article .right p.description{
    color: #2d2d2d;
}
.articles .article .right p.auteur{
    color: orange;
    font-size: 20px;
}
section{
    padding: 100px;
}

.joseph{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.joseph .ajmk50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.joseph .ajmk50 h2{
    margin-top: 20px;
      
}
.titre-text{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-text span{
    color: orange;
    font-size: orange;
    font-weight: 700px;
}
.joseph .ajmk50 img{
    height: 400px;
    width: 500px;
    position: relative;
    border-radius: 16px;
    transform: rotate(5deg);
}



body {}

.contenu
{
    position: relative;
    margin: auto;
    width: 80%;
    height: 250px;
    background-image: url('be3e3dc69691b8f730d589c26590283f.png') ;
    background-size: cover;
    overflow: hidden;
    position: relative;
}


.profil
{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 20px;
    left: 25px;
}
.profil img
{
    width: 150px;
    height: 150px;
    border: 3px solid black;
}
.navbar
{
    text-align: center;
    width: 80%;
    background: black;
    margin: auto;
}
.navbar ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.navbar ul li a 
{
    display: block;
    padding: 25px;
    color: whitesmoke;
    text-decoration: none;
    width: 100px;
}

.navbar ul:after
{
    content:"" ;
    clear: both;
    display: block;
}

.navbar ul li
{
    float: left;
    list-style-type: none;
    display: block;
}

.navbar ul ul
{
    display: none;
}

.navbar ul li:hover > ul
{
    display: block;
}

.navbar ul li:hover a
{
    background:black;
    transition: 0,9s;
}

.navbar ul li:hover a
{
    color: white;
}

.navbar ul ul 
{
    background: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top:100%
}

.navbar ul ul li 
{
    float: none;
    position: relative;
}

.navbar ul ul li a
{
    padding: 25px;
    color: white;
    width: 300px;
    text-align: left;
}

.navbar ul ul li a:hover
{
    background: #778899;
    color: black;
    transition: 0.9s;
}
footer
{
    background-color: #1a1a1a;
    padding: 25px 100px;
    color: #ddd;
}
footer p
{
    margin-top: 15px;
}
footer .colonne p a
{
    text-decoration: none;
    color: #ddd
}
footer .espacer
{
    margin-top: 30px;
}
footer .colonnes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* FIN DU PIED DE PAGE */

.course{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius:10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}


/*------campus------*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis:32%;
    border-radius:10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0,5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width:100%;
    font-weight:500;
    color:#fff;
    font-size:26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity:0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
}
